
<header class="site-header">
  <div class="container">
    <a class="brand" href="{{ '/' | relative_url }}">Cyber Fortress</a>
    <nav class="nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      {% comment %}
      <!-- <a href="{{ '/resources/' | relative_url }}">Resources</a>
      <a href="{{ '/resources/mattermost/' | relative_url }}">Mattermost</a>
      <a href="{{ '/resources/opencti/' | relative_url }}">OpenCTI</a>
      <a href="{{ '/resources/netmaker/' | relative_url }}">Netmaker</a>
      <a href="{{ '/resources/authenticators/' | relative_url }}">Authenticator Apps</a> -->
      {% endcomment %}
    </nav>
  </div>
</header>
